.row
  .span4.offset4
    .well
      - if alert
        .alert.alert-error= alert
      - if notice
        .alert= notice
      %legend= @title
      %ul
        - @channel.errors.full_messages.each do |msg|
          %li= msg
      = form_for @channel do |f|
        %form{"accept-charset" => "UTF-8", action: "", method: "POST"}
          .hidden_field
            = f.hidden_field :user_id, :value => current_user.id, :readonly => true
          .field
            = f.label :name
            = f.text_field :name, placeholder: "Name", :autofocus => true
          .field
            = f.label :url
            = f.text_field :url, placeholder: "Url", :readonly => true
          %br
          %button.btn-success.btn{type: "submit", id: "Save"} Save