= render "/shared/nav_bar"
%br
%br
%br
.row
  .span.offset3
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th{:style => "text-align:center;"} Channel
          %th{:style => "text-align:center;"} Url
          %th 
          %th 
      %tbody
        - @channels.each do |channel|
          %tr
            %td= channel.name
            %td= channel.url
            %td
              %a= link_to 'Show', channel_path(channel)
            %td
              %a= link_to 'Edit', edit_channel_path(channel)
            %td
              %a= link_to 'Remove', channel, :method => :delete, :data => { :confirm => 'Are you sure?' }