= render "/shared/nav_bar"

- if alert
  .alert.alert-error= alert
- if notice
  .alert= notice

.well

  %h3
    = link_to @channel.name.upcase, channel_path(@channel)
  %b Url:
  = link_to @channel.url, @channel.url
  %br
  %br
  %a.btn.btn-success.icon{href: edit_channel_path(@channel)} Edit
  / %a.btn.btn-success.icon{href: new_channel_article_path(@channel)} New article
  %a.btn.btn-success.icon{href: fetch_feeds_channel_path(@channel)} Fetch Feeds!
  
= render "articles/articles"

