= render "/shared/nav_bar"
%br
.row
  .span4.offset4
    .well
      %legend   Edit #{resource_name.to_s.humanize}
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = devise_error_messages!
        %form{"accept-charset" => "UTF-8", action: "", method: "POST"}
          = f.label :login
          = f.text_field :login, placeholder: "Login", :autofocus => true
          = f.label :first_name
          = f.text_field :first_name, placeholder: "First Name"
          = f.label :last_name
          = f.text_field :last_name, placeholder: "Last Name"
          = f.label :email
          = f.email_field :email, placeholder: "Email"
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          = f.label :new_password
          = f.password_field :password, placeholder: "New Password"
          = f.label :new_password_confirmation
          = f.password_field :password_confirmation, placeholder: "New Password Confirmation"
          = f.label :current_password
          = f.password_field :current_password, placeholder: "Current Password"
          %br
          %button.btn-info.btn{type: "submit"} Update
.row
  .span4.offset4
    .well
      %legend   Cancel my account
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete) do |f|
        Unhappy?
        %br
        %br
        %button.btn-danger.btn{type: "submit"} Cancel my account
