.row
  .span4.offset4
    .well
      %legend Sign up
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = devise_error_messages!
        %form{"accept-charset" => "UTF-8", action: "", method: "POST"}
          = f.text_field :login, placeholder: "Login", :autofocus => true, :id => 'login'
          = f.text_field :first_name, placeholder: "First Name", :id => 'first_name'
          = f.text_field :last_name, placeholder: "Last Name", :id => 'last_name'
          = f.email_field :email, placeholder: "Email", :id => 'email'
          = f.password_field :password, placeholder: "Password", :id => 'password'
          = f.password_field :password_confirmation, placeholder: "Password Confirmation", :id => 'password_confirmation'
          %br
          %button.btn-success.btn{type: "submit", id: "Sign up"} Sign up
      = render "devise/shared/links"
