:javascript
  $(document).ready(function () {
      $('h1.label.tree-toggler').click(function () {
          $(this).parent().children('ul.tree').toggle(300);
      });
  });

.well
  %div{style: "overflow-y: scroll; overflow-x: hidden"}
    %ul.nav.nav-list
    - if @articles.count > 0
      - @articles.each do |article|
        %li
          %h1.label.tree-toggler.nav-header= article.title.html_safe
          - if article.starred
            %i.icon-star
          - else
            / %i.icon-star-empty
          %ul.nav.nav-list.tree
            %li
              %small= link_to article.link, article.link, :target => "_blank"
            %li
              %small= article.pub_date
            %br
            %li
              = article.description.html_safe
            %br
            %li
              .well
                = article.comments
            %li
              / TODO - Remove this link
              = link_to 'Remove (just for development purpose)', channel_article_path(article.channel_id, article), :method => :delete, :data => { :confirm => 'Are you sure?' }
            %br
    - else
      There are no articles for this channel