:javascript
  $(document).ready(function () {
      $('h1.label.tree-toggler').click(function () {
          $(this).parent().children('ul.tree').toggle(300);
      });
  });


/ %table
/   %tr
/     %th Title
/     %th Link
/     %th Description
/     %th Pub date
/     %th Comments
/     %th Starred
/     %th Channel
/     %th
/     %th
/     %th

/   - @articles.each do |article|
/     %tr
/       %td= article.title
/       %td= article.link
/       %td= article.description
/       %td= article.pub_date
/       %td= article.comments
/       %td= article.starred
/       %td= article.channel_id
/       %td= link_to 'Show', channel_article_path(article.channel_id, article)
/       %td= link_to 'Edit', edit_channel_article_path(article.channel_id, article)
/       %td= link_to 'Destroy', channel_article_path(article.channel_id, article), :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br

.well
  %div{style: "overflow-y: scroll; overflow-x: hidden"}
    %ul.nav.nav-list
    - if @articles.count > 0
      - @articles.each do |article|
        %li
          %h1.label.tree-toggler.nav-header= article.title
          %ul.nav.nav-list.tree
            %li
              %small= article.pub_date
            %br
            %li
              = article.description
            %br
            %li
              = article.comments
            %br
            %li
            - if article.starred
              Starred!
            - else
              Not starred...
            %br
            %br
            %li
              %small= link_to article.link, "#"
            %li
              / TODO - Remove this link
              %a= link_to 'Remove (just for development purpose)', channel_article_path(article.channel_id, article), :method => :delete, :data => { :confirm => 'Are you sure?' }
            %br
    - else
      There are no articles for this channel