.row
  .span4.offset4
    .well
      - if alert
        .alert.alert-error= alert
      - if notice
        .alert= notice
      %legend Change your password
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :method => :put) do |f|
        = devise_error_messages!
        %form{"accept-charset" => "UTF-8", action: "", method: "PUT"}
          = f.hidden_field :reset_password_token
          = f.label :password, "New password"
          = f.password_field :password, placeholder: "New password", :autofocus => true
          = f.label :password_confirmation, "Confirm new password"
          = f.password_field :password_confirmation, placeholder: "Password confirmation"
          %br
          %button.btn-info.btn{type: "submit", id: "Change password"} Update
      = render "devise/shared/links"