.row
  .span4.offset4
    .well
      - if alert
        .alert.alert-error= alert
      - if notice
        .alert= notice
      %legend Forgot your password?
      = form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
        = devise_error_messages!
        %form{"accept-charset" => "UTF-8", action: "", method: "POST"}
          = f.label :email
          = f.email_field :email, placeholder: "Email", :autofocus => true
          %br
          %button.btn-success.btn{type: "submit", id: "Send Instructions"} Send Instructions
      = render "devise/shared/links"