Welcome 

- if user_signed_in?
	= current_user.login + ", hope you are doing fine. Here is your"
	= link_to 'profile', edit_user_registration_path
	%br
	%br
	= link_to 'Logout', destroy_user_session_path, :method => 'delete'
- else
	stranger. Why don't you
	= link_to 'sign up now?', new_user_registration_path
	%br
	%br
	Already a member? 
	= link_to 'Please login', new_user_session_path
	%br
	%br
	= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)

