.row
  .span4.offset4
    .well
      %legend Sign in
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %form{"accept-charset" => "UTF-8", action: "", method: "POST"}
          = f.email_field :email, placeholder: "Email", :autofocus => true
          = f.password_field :password, placeholder: "Password"
          - if devise_mapping.rememberable?
            %label.checkbox
              = f.check_box :remember_me
              = f.label :remember_me
          %button.btn-success.btn{type: "submit"} Login
      = render "devise/shared/links"
